body {
      	background: #06317B 	
}


#teste4 {
	width: 100%;
	
}

h1 {
	 text-align:center; color: #FCFCFC
	
}


p {
	text-align: center; color: white;
}

h2{
	text-align: center; color: white;
}

ul{
	text-align: left; color: white;
}

#sobre{
     font-size: 20px	
}

strong {
        color: white;
}



